.metadata
Firmware/bootloader/obj
Firmware/radio/obj
Firmware/radio/radio_446x_conf.h
Firmware/.cproject
Firmware/.project
SiKUploader/uploader/bin
*.hex
Firmware/dst
Firmware/obj
SiK_Firmware.sublime-project
SiK_Firmware.sublime-workspace
Firmware/Docs
*.xcodeproj
.DS_Store
